---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---
{% include cloud.html %}

<div>
  <div id="myCanvasContainer">
      <canvas width="500" height="250" id="myCanvas">
      </canvas>
  </div>
  <div id="tags">
      <ul>
          <li><a href="">Natural Language Processing</a></li>
          <li><a href="">Statistical Natural Language Processing</a></li>
          <li><a href="">Statistical Learning</a></li>
          <li><a href="">Artificial Intelligence</a></li>
          <li><a href="">Lexical Semantics</a></li>
          <li><a href="">Machine Learning</a></li>
          <li><a href="">Information Retrieval</a></li>
          <li><a href="">Social Network Analysis</a></li>
          <li><a href="">Sentiment Analysis</a></li>
          <li><a href="">Data Mining</a></li>
          <li><a href="">Data Science</a></li>
      </ul>
  </div>
</div>

{% include base_path %}

{% for post in site.research reversed %}
  {% include archive-single.html %}
{% endfor %}