---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<p>Courses I currently teach at the University of Beira Interior. Course materials are available to enrolled students on <a href="https://moodle.ubi.pt">Moodle UBI</a>.</p>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<h2>Previous years</h2>
<p>A complete record of previous teaching is available on <a href="https://www.cienciavitae.pt/0A16-6735-D5E4">CIÊNCIAVITAE (0A16-6735-D5E4)</a>.</p>
